---
import { getCollection } from "astro:content";
import Header from "../../components/Header.astro";
import BaseHead from "../../components/BaseHead.astro";

export async function getStaticPaths() {
    const photos = await getCollection("photos");

    return photos.map(photo => ({
        params: {
            slug: photo.slug,
        },
        props: { photo },
    }));
}

const { photo: p } = Astro.props;
const { title, description, photo } = p.data;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <BaseHead title={title} description={description || ""} />
    </head>
    <body>
        <Header />
        <div class="flex justify-center p-8">
            <img
                src={photo.url.replace("s3/", "https://s3.amazonaws.com/cnunciato-website-media/")}
            />
        </div>
    </body>
</html>
