---
import { getCollection } from "astro:content";
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import Prose from "../../components/Prose.astro";
import FormattedDate from "../../components/FormattedDate.astro";

export async function getStaticPaths() {
    const photos = await getCollection("photos");

    return photos.map(photo => ({
        params: {
            slug: photo.slug,
        },
        props: { photo },
    }));
}

const { photo: p } = Astro.props;
const { title, description, photo, date } = p.data;
const { Content } = await p.render();
---

<DefaultLayout title={title} description={description || ""}>
    <div>
        <img
            class="rounded-lg shadow-lg"
            src={photo.url.replace("s3/", "https://s3.amazonaws.com/cnunciato-website-media/")}
        />
    </div>
    <div class="my-12">
        <Prose>
            <h2>{title}</h2>
            <p>
                <FormattedDate date={date}>
                    <div>
                        <Content />
                    </div>
                </FormattedDate>
            </p>
        </Prose>
    </div></DefaultLayout
>
