---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";

type Props = CollectionEntry<"photos">["data"];
const photo = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={photo.title} description="" />
    </head>
    <body>
        <h1>photo.title</h1>
        <img
            src={photo.photo.url.replace(
                "s3/",
                "https://s3.amazonaws.com/cnunciato-website-media/",
            )}
            class="w-96"
        />
    </body>
</html>
