---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + subpath?.[0];
---

<style>
    a {
        @apply inline-block no-underline py-1.5 px-3 rounded transition-all;

        &:hover {
            @apply bg-neutral-200;
        }

        &.active {
            @apply bg-neutral-200 text-neutral-800;
        }
    }
</style>

<a href={href} class:list={[className, { active: isActive }]} {...props}>
    <slot />
</a>
