---
import HeaderLink from "./HeaderLink.astro";
import { siteTitle } from "../consts";
import { Icon } from "astro-icon/components";
---

<style>
    svg {
        @apply h-5 w-5;
    }
</style>

<header class="sticky top-0 z-50 bg-basecolor-100 bg-opacity-100 rounded -mx-4 md:mx-0">
    <nav
        class="container mx-auto flex items-center justify-evenly my-6 md:mb-6 py-2 bg-basecolor-100 bg-opacity-100"
    >
        <h1 class="w-2/12 hidden md:flex whitespace-nowrap">
            <span class="font-sans font-extrabold text-lg md:text-xl">
                <a class="no-underline" href="/">{siteTitle}</a>
            </span>
        </h1>

        <ul class="justify-center w-6/12 flex items-center gap-0 md:gap-6">
            <li><HeaderLink href="/">Home</HeaderLink></li>
            <li><HeaderLink href="/photos">Photos</HeaderLink></li>
            <li><HeaderLink href="/videos">Videos</HeaderLink></li>
            <li><HeaderLink href="/words">Words</HeaderLink></li>
            <li><HeaderLink href="/sounds">Sounds</HeaderLink></li>
            <li><HeaderLink href="/about">About</HeaderLink></li>
        </ul>

        <ul class="w-2/12 hidden md:flex justify-end items-center gap-2 md:gap-6">
            <a href="https://twitter.com/cnunciato" target="_blank">
                <span class="sr-only">Follow me on Twitter</span>
                <Icon name="twitter" />
            </a>
            <a href="https://hachyderm.io/@cnunciato" target="_blank">
                <span class="sr-only">Follow me on Mastodon</span>
                <Icon name="mastodon" />
            </a>
            <a href="https://github.com/cnunciato" target="_blank">
                <span class="sr-only">Follow me on GitHub</span>
                <Icon name="github" />
            </a>
            <a href={new URL("rss.xml", Astro.site)} target="_blank">
                <span class="sr-only">Subscribe to my RSS feed</span>
                <Icon name="rss" />
            </a>
        </ul>
    </nav>
</header>
