---
// From https://docs.astro.build/en/recipes/tailwind-rendered-markdown/#recipe
---

<div
    class="prose dark:prose-invert prose-h1:text-2xl prose-img:rounded-xl prose-neutral max-w-none font-serif"
>
    <slot />
</div>
