---
import { getCollection } from "astro:content";
import Prose from "../../components/Prose.astro";
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import BlogLayout from "../../layouts/BlogLayout.astro";

const collection = await getCollection("words");
const [post] = collection
    .filter(post => post.data.draft !== true)
    .sort((a, b) => (a.data.date > b.data.date ? 1 : -1))
    .reverse();
const { Content } = await post.render();
---

<BlogLayout title="Words" description="All the blog posts." date={post.data.date} slug={post.slug}>
    {
        post.data.photo?.preview && (
            <div class="md:float-right md:w-80 md:ml-2 md:mb-2">
                <img
                    class="mt-0"
                    src={post.data.photo.preview.replace(
                        "s3/",
                        "https://s3.amazonaws.com/cnunciato-website-media/",
                    )}
                />
            </div>
        )
    }
    <h1>{post.data.title}</h1>
    <FormattedDate date={post.data.date} />
    <Content />
</BlogLayout>
