---
import { frontmatter, Content } from "../content/pages/about.md";
import Prose from "../components/Prose.astro";
import DefaultLayout from "../layouts/DefaultLayout.astro";

const { title, description } = frontmatter;
---

<DefaultLayout title={title} description={description}>
    <Prose>
        <h1>{title}</h1>
        <Content />
    </Prose>
</DefaultLayout>
