---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { siteTitle, siteDescription } from "../consts";
import MessageOfTheDay from "../components/MessageOfTheDay";
import { Image } from "astro:assets";
import "@fontsource/patrick-hand-sc";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={siteTitle} description={siteDescription} />
    </head>
    <body class="bg-gradient-to-b bg-gray-100">
        <Header />
        <main>
            <div>
                <MessageOfTheDay client:load />
            </div>
            <div class="flex justify-center hover: transition-all">
                <div class="p-6 shadow-lg rounded-md border border-gray-200">
                    <Image
                        src="https://s3.amazonaws.com/cnunciato-website-media/images/2024-07-29-07-56-09.jpg"
                        alt="A thing"
                        loading="lazy"
                        decoding="async"
                        width="800"
                        height="800"
                        inferSize={true}
                        class:list="block rounded shadow-inner border border-gray-100"
                    />
                </div>
            </div>
        </main>
        <Footer />
    </body>
</html>
